/node_modules
/public/hotfolder
/public/storage
/public/archives
/public/temp
/public/oldsite.zip
/storage/*.key
/vendor
/public/archives
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
