:root {
    --highlight-colour: rgb(9, 110, 9);
    --highlight-hover: rgb(0, 100, 0);
}

body {
    height: 100vh;
}
img {
    max-width: 100%;
}
.big-search-input {
    padding: 12px 20px;
    width: 100%;
    margin: 8px 0;
}
.search-background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12pt;
    padding: 3rem;
    margin-bottom: 1rem;
    /* height: 18rem; */
    width: 55rem;
    background: rgba(175, 175, 175, 0.6);
}
.logobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    z-index: 1;
}
.logo {
    width: 25rem;
}
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    border: none;
    width: 10rem;
    border-radius: 0.5rem;
    color: black;
}
.button:hover {
    background-color: lightgray;
}
.search-button {
    background-color: var(--highlight-colour);
    color: white;
}
.search-button:hover {
    background-color: var(--highlight-hover);
}
.searchform {
    display: flex;
    flex-direction: column;
    width: 100%
}
.searchbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--highlight-colour);
    padding: 0.6rem;
    color: white;
}

.toolbar-searchform {
    vertical-align: middle;
}
.toolbar-search-input {
    width: 25rem;
    height: 2.2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
    vertical-align: middle;
    padding: 6pt;
}
.mini-search-button {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 2.2rem;
    width: 2.5rem;
    border: none;
    vertical-align: middle;
    position: relative;
    left: -3px;

}
.title-link {
    color: white;
    font-size: 18pt;
}
.title-link:link {
    color: white;
}
.title-link:visited {
    color: white;
}
.title-link:hover {
    color: white;
    text-decoration: none;
}
.container {
    margin-top: 2rem;
}
.pagination-block {
    margin-bottom: 1rem;
}
.article-preview {
    margin-bottom: 1rem;
}
.preview-headline {
    font-size: 14pt;
    font-weight: bold;
}
.preview-metaitem {
    font-size: 9pt;
    color: white;
    display: inline;
    background-color: #999999;
    padding: 6pt;
    border-radius: 10px;
    margin: 5pt 5pt 5pt 0pt;
}
.preview-highlightbox {
    margin-bottom: 1rem;
}
.highlighted-text {
    background-color: yellow;
}