body {
    height: 100vh;
}
img {
    max-width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.big-search-input {
    padding: 20rem;
}
.search-background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url("../img/Plaas_1_0_210767006.jpg"); */
    background-size: cover;
}
.searchbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12pt;
    padding: 3rem;
    margin-bottom: 1rem;
    height: 20rem;
    width: 55rem;
    background: rgba(175, 175, 175, 0.6);
}
.logobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100%;
    z-index: 1;
}
.logo {
    width: 25rem;
}
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-block;
    border: none;
    width: 10rem;
    border-radius: 0.5rem;
    color: black;
}
.search-button {
    background-color: rgb(9, 110, 9);
    color: white;
}
.searchform {
    display: flex;
    flex-direction: column;
    width: 100%
}